/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./src/Components/AgregarTarjeta.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
/* AgregarTarjeta.css */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card-option {
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card-image {
  max-width: 100px;
  max-height: 60px;
}

.card-button {
  margin-top: 10px;
  background-color: rgb(144,12,63);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.card-button.selected {
  background-color: rgb(252,157,157);
}

.card-button:hover {
  background-color: rgb(252,157,157);
}
.mb-2{
  text-align: center;
}
.button-addcard{
  text-align: center;
  text-decoration: none;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(252,157,157);
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./src/Components/EliminarTarjeta.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.card-image-container {
    width: 200px; /* Ancho deseado para cada tarjeta */
    height: 200px; /* Alto deseado para cada tarjeta */
    display: inline-block; /* Hace que las tarjetas aparezcan una al lado de la otra */
    margin-right: 10px; /* Espacio entre las tarjetas */
  }
  
  .card-image {
    max-width: 100%;
    max-height: 100%;
  }
  
/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./src/Components/navbar.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
/* styles.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    /*z-index: 100; /* Ensures it's above other content */
    height: 35px;
  }
  
  .left-button, .right-button {
    background-color: rgb(252,157,157);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .left-button:hover, .right-button:hover {
    background-color: rgb(252,157,157);
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
    background-color: #333;
    text-decoration: none;
    color: white;
    
  }
  
  .right-button {
    padding: 5px;
  }
  
  .right-button i {
    font-size: 24px;
  }
  
  /* Add padding to the body to push content below the navbar */
  body {
    padding-top: 70px; /* Adjust as needed based on the height of your navbar */
  }
  
/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./src/Components/sidebar.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.sidebar {
    margin-top: 27px;
    list-style: none;
    background-color: #333;
    position: fixed;
    left:-40px;
    justify-content: center;
    height: 100%;
    
  }
  .sidebar li{
    text-align: center;
    list-style: none;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(252,157,157);
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  .link-sidebar{
    text-decoration: none;
    color: white;
  }
 button{
  border: none;
  background: none;
  padding: 0; 
  outline: none;
  color: white;
  font-weight: bold;
 }
  
  
/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./src/app/VerTarjeta/tarjeta.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/

h1,h2{
    text-align: center;
}
body{
    background-color: #84b6f4;
}
/* Estilos generales */

  
  /* Contenedor principal */
  .Agregar {
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  /* Encabezado */
  h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
  }
  
  /* Títulos secundarios */
  h2 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  /* Tarjetas de usuario */
  .card-option {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    max-width:100% ;
    
    
  }
  
  /* Imagen de la tarjeta */
  .card-image-container {
    text-align: center;
    margin-bottom: 10px;
    
  }
  
  .card-image {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    align-items: center;
  }
  
  /* Botones */
  .card-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-items: center;
  }
  
  .card-button:hover {
    background-color: #0056b3;
  }
  
  /* Botón de agregar tarjeta */
  .mb-2 {
    margin-bottom: 20px;
  }
  
  .variant-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .variant-primary:hover {
    background-color: #0056b3;
  }
  
  /* Mensaje de error */
  .error-message {
    color: #ff0000;
    font-size: 16px;
    margin-top: 10px;
  }
  
  /* Estilo para el contenedor de tarjetas */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    
  }
  
  /* Estilos para la tarjeta registrada */
  .card-registered {
    max-width: calc(50% - 20px);
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    align-items: center;
  }
  
  /* Estilos para la imagen de la tarjeta registrada */
  .card-registered img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    align-items: center;
  }
  
  /* Estilos para el botón de eliminar tarjeta */
  .delete-card-button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-items: center;
  }
  
  .delete-card-button:hover {
    background-color: #cc0000;
  }
  
