.contenido {
    background-color: rgb(179, 235, 242);
    display: flex;
    flex-direction: column;
    height: 100vh; /* Establece la altura al 100% de la ventana */
    width: 1600px;
    margin-left: 210px;
  }

.login-container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
    margin: 20px;
    padding: 20px;
    background-color: white;
    transform: translateX(60%) ;
    border-radius: 5px;
  }
  .forgotpassword{
    text-decoration: none !important ;  
    color: rgb(71, 71, 180);
    font-size: small;
  }

  
  .login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    width: 300px;
    border-radius: 5px;
  }
  
  .login-button {
    background-color: rgb(252,157,157);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 180px;
    
  }
  .signin-link{
    text-decoration:none!important;
    color:white;
    font-weight: bold;
  }

  .create-button {
    background-color: rgb(144,12,63);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 180px;
    font-weight: bold;
  }
  hr {
    border: none; /* Remove the default border */
    border-top: 1px solid #ccc; /* Add a solid line with color */
    
    width: 180px;
  }
.row{
  margin-left: 50px;
}
.col-2 d-flex flex-row-reverse align-items-center{
  margin-left: 150px;
}

.col-1 d-flex flex-row-reverse align-items-center{
  margin-left: 150px;
}

