/* styles.css */

/* styles.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;

  height: 35px;
}

.left-button, .right-button {
  background-color: rgb(252,157,157);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.left-button:hover, .right-button:hover {
  background-color: rgb(252,157,157);
}

.Wisewallet{
  font-size: 24px;
  font-weight: bold;
  background-color: #333;
  text-decoration: none;
  color: white;
  margin-left: 300px;
}
.Wisewallet1{
  font-size: 24px;
  font-weight: bold;
  background-color: #333;
  text-decoration: none;
  color: white;
  
}
.title {
  font-size: 24px;
  font-weight: bold;
  background-color: #333;
  text-decoration: none;
  color: white;
  display: inline-block;
  
}
.navbar-barra{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
  
}
.navbar-content{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-left: 10px;
  width: 100%;
}
.right-button {
  padding: 5px;
}

.right-button i {
  font-size: 24px;
}

/* Añade relleno al cuerpo para empujar el contenido debajo de la barra de navegación */


.right-button {
  text-align: center;
  list-style: none;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(252,157,157);
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}


