/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/app/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
/*
CSS de page.js
*/

.page_main__ibFHK {
  display: flex;
}
.page_red__5J5KZ{

}
.page_inte__uQk5o{
  position: absolute;
  padding-top: 10vw;
  padding-left: 40vw;

}


