/*!************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./src/app/page.css ***!
  \************************************************************************************************************************************************************************************************************************************************************/
/*
CSS de page.js
*/



/* Estilos generales */

body{
  padding-top: 40px;
  background-color: #84b6f4;
}
.container {
  background: #f5f5f5;
  padding: 5px;
  text-align: center;
  background-color: #84b6f4;
  margin-right: 100px;
  
}

/* Encabezado principal */
h1 {
  font-size: 2em;
  color: #333;
}

p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}

/* Sección "Por qué elegirnos" */
.features {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.feature {
  text-align: justify;
  width: 400px;
}

.feature-image {
  max-width: 100%;
}

/* Sección "Sobre Nosotros" */
.about-us {
  background: #fff;
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para los enlaces */
.return-link {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.return-link:hover {
  text-decoration: underline;
}
.about-us {
  margin-top: 30px;
  text-align: justify;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-us h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.about-us p {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./src/Components/navbar.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
/* styles.css */

/* styles.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  z-index: 100; /* Asegura que esté por encima de otros contenidos */
  height: 35px;
}

.left-button, .right-button {
  background-color: rgb(252,157,157);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.left-button:hover, .right-button:hover {
  background-color: rgb(252,157,157);
}

.Wisewallet{
  font-size: 24px;
  font-weight: bold;
  background-color: #333;
  text-decoration: none;
  color: white;
}

.title {
  font-size: 24px;
  font-weight: bold;
  background-color: #333;
  text-decoration: none;
  color: white;
  display: inline-block;
  
}
.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.right-button {
  padding: 5px;
}

.right-button i {
  font-size: 24px;
}

/* Añade relleno al cuerpo para empujar el contenido debajo de la barra de navegación */
body {
  padding-top: 70px; /* Ajusta según la altura de tu barra de navegación */
  margin-left: 200px; /* Para dejar espacio a la barra lateral */
}

.right-button {
  text-align: center;
  list-style: none;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(252,157,157);
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}



/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./src/Components/sidebar.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.sidebar {
    margin-top: 28px;
    list-style: none;
    background-color: #333;
    position: fixed;
    left:-40px;
    justify-content: center;
    height: 100%;
 
    
  }
  .sidebar li{
    text-align: center;
    list-style: none;
    margin: 7px;
    padding: 18px;
    border-radius: 5px;
    background-color: rgb(252,157,157);
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  .link-sidebar{
    text-decoration: none;
    color: white;
  }
 button{
  border: none;
  background: none;
  padding: 0; 
  outline: none;
  color: white;
  font-weight: bold;
 }
  
  
